* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #6c82d4;
}

h1 {
    background-image: url("./h1\ background.png");
    border-style: solid;
    border-width: 40px;
    text-align: center;
    font-size: 80px;
    color: azure;
    padding: 80px 40px 80px 40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

div {
    background-color: aliceblue;
    text-align: center;
    padding: 80px;
    margin: 40px;
    font-size: 30px;
}

button {
    font-size: 24px;
    font-weight: bold;
    background-color: #6c82d4;
    border-color: #6c82d4;
    border-width: 8px;
}

button:focus {
    border-width: 8px;
    border-color: #44538a;
    border-style: solid;     
}

button:active {
    background-color: #4d5e9c;
}

.daily {
    font-size: 30px;
}

.header {
    font-size: 40px;
}

img {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#avatars {
    display: flex;
    justify-content: space-around;
}
